
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Byte Bank · O seu banco digital</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal text-light">Olá {{titular}}!</h5>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Escolha sua conta</h1>
  <p class="lead">O <strong>ByteBank</strong> tem o tipo de conta ideal para você!</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">

    <form action="/bb/{{id}}/free" method="post" class="card mb-4 shadow-sm">
        <div class="card-header bg-success">
          <h4 class="my-0 font-weight-normal text-light">Byte Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R$0 <small class="text-muted">/ mês</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Sem acesso ao APP</li>
            <li>100% de suporte</li>
            <li>15% de desconto em cinemas</li>
            <li>Limite R$ 0,00 </li>
          </ul>
          <button type="submit" class="btn btn-lg btn-block btn-outline-success">Para experimentar!</button>
        </div>
    </form>

    <form action="/bb/{{id}}/corrente" method="post" class="card mb-4 shadow-sm">
      <div class="card-header bg-success">
        <h4 class="my-0 font-weight-normal text-light">Byte Corrente</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R$15 <small class="text-muted">/ mês</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Com acesso ao APP</li>
          <li>100% de suporte</li>
          <li>40% de desconto em cinemas e eventos</li>
          <li>Limite de R$ 1500,00</li>
        </ul>
        <button type="submit" class="btn btn-lg btn-block btn-outline-success">Ideal para você!</button>
      </div>
    </form>

    <form action="/bb/{{id}}/investimento" method="post" class="card mb-4 shadow-sm">
      <div class="card-header bg-success">
        <h4 class="my-0 font-weight-normal text-light">Byte Investimento</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R$29 <small class="text-muted">/ mês</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Total acesso ao APP</li>
          <li>100% de suporte ao investidor</li>
          <li>60% de descontos em cinemas e eventos</li>
          <li>Limite de R$ 2000,00</li>
        </ul>
        <button type="submit" class="btn btn-lg btn-block btn-outline-success">Para evoluir!</button>
      </div>
    </form>

  </div>
  <small class="d-block mb-3 text-muted">&copy; 2019 ByteBank Corporation</small>
</div>
</body>
</html>
