<!doctype html>
<html lang="pt">
   <head>
       <!-- Required meta tags -->
       <meta charset="utf-8">

       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" > 
   </head>
   <body>
       <div class="container">

           <h1>Seja nosso cliente! :D</h1>
           <hr />

           <form action="/contas/form/cadastro-cliente", method="post">
               <div class="form-group col-sm-4">
                   <label for="inputNome">Nome</label>
                   <input type="text" class="form-control" id="inputNome" name="nome" placeholder="Digite seu nome">
               </div>
               <div class="form-group col-sm-4">
                   <label for="inputSobrenome">Sobrenome</label>
                   <input type="text" class="form-control" id="inputSobrenome" name="sobrenome" placeholder="Digite seu sobrenome">
               </div>
 
               <div class="form-group col-sm-4">
                   <label for="inputCpf">CPF</label>
                   <input type="text" class="form-control" id="inputCpf" name="cpf" placeholder="999.999.999-99">
               </div>
               <button type="submit" class="btn btn-primary">Enviar</button>
           </form>

       </div>  
   </body>
</html>